.section {
    background-color: var(--fixed-white);
    color: var(--color-black);
    display: flex;
    height: 25rem;

    .sectionHeader {
        background-color: var(--color-black);
        color: var(--fixed-white);
        min-width: 25rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 3rem;
            color: var(--color-brand-1);
        }
    }
    .projectList {
        display: flex;
        align-items: center;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }
    ::-webkit-scrollbar{
        background-color: var(--color-black);
        height: 8px;
    }
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-brand-1);
    border-radius: 20px;
}