.section {
    background-color: var(--fixed-white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sectionHeader {
        display: flex;
        background-color: var(--color-black);
        width: 100%;
        .headerContainer {
            height: 100%;
            width: 100%;
            display: flex;
            padding: 2rem;
            justify-content: center;
            gap: 20%;

            .headerTitle {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                
                h2 {
                    font-size: 3rem;
                    color: var(--color-brand-1);
                }
            }
            .subscribe {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
    
                .link {
                    color: var(--color-red);
                }
                a {
                    height: 3rem;
                    width: 9rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: var(--fixed-white);
                    background-color: var(--color-red);
                    border-radius: 1.2rem;
                    margin-top: 1rem;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                        background-color: var(--color-red-2);
                    }
                }
            }
        }
        
        &::before {
            min-width: 25rem;
            height: 25rem;
            content: '';
            background-color: var(--fixed-white);
            display: flex;
        }
    }
    &::after {
        width: 100%;
        height: 50rem;
        content: '';
        background-color: var(--fixed-white);
        display: flex;
    }
    .seeAll {
        position: absolute;
        z-index: 1;
        font-size: 1.2rem;
        color: var(--color-black);
        bottom: 4rem;
        text-decoration: none;
        font-weight: 500;
        transition: 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}