.modalOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 100;
    
    .modalContainer{
        background-color: white;
        color: black;
        border-radius: 8px;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 700px;
        gap: 3rem;
        overflow: hidden;
        
        .modalHeader {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 1rem;
            color: white;
            
            h2 {
                font-size: 2.5rem;
                font-weight: 700;
            }
        }
        
        .previewContainer {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 1rem;

            .desktopContainer {
                min-height: 18rem;
                min-width: 25rem;
                position: relative;
                
                .desktop {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 1;
                }
                .desktopImage {
                    position: absolute;
                    height: 11.7rem;
                    width: 19.8rem;
                    top: 0.8rem;
                    left: 2.7rem;
                }
            }
            .mobileContainer {
                height: 16rem;
                min-height: 16rem;
                width: 11rem;
                min-width: 11rem;
                position: relative;

                .mobile {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }
                .mobileImage {
                    height: 14.6rem;
                    width: 6.7rem;
                    position: absolute;
                    right: 2.1rem;
                    top: 0.4rem;
                }
            }
        }
        .descriptionContainer {
            padding: 0 1.5rem;

            p {
                line-height: 1.5rem;
                font-weight: 500;
                font-size: 1.2rem;
                text-align: justify;
            }
        }
        button {
            color: white;
            width: 10rem;
            border: none;
            border-radius: 8px;
            padding: 1rem;
            cursor: pointer;

            &:hover {
                background-color: var(--color-brand-1);
            }
        }
    }
}

@media (max-width: 730px) {
    .modalOverlay {

        .modalContainer {
            max-height: 80%;
            font-size: 0.75rem;
            max-width: 95%;
            overflow-y: auto;

            .previewContainer {
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 1rem;
    
                .desktopContainer {
                    min-height: 6rem;
                    min-width: 16rem;
                    width: 90%;
                    max-width: 16rem;
                    position: relative;
                    
                    .desktop {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: 1;
                    }
                    .desktopImage {
                        position: absolute;
                        height: 8rem;
                        width: 12.4rem;
                        top: 0.5rem;
                        left: 1.9rem;
                    }
                }
            }
            .descriptionContainer {
                padding: 0 1.5rem;
    
                p {
                    line-height: 1.3rem;
                    font-weight: 500;
                    font-size: 1rem;
                    text-align: justify;
                }
            }
        }
    }
}